<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
